<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
